<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
